<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
